<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
